<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
